<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
